<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
